<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
